<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
